<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
